{% extends 'base.html' %}
<!--Main layout-->
{% block content %}
<main>
    <div class="container">
        <h2>Order Summary</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Item Price</th>
                </tr>
            </thead>
            <tbody>
                {% for order_item in object.items.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ order_item.item.title }}</td>
                    <td>{{ order_item.item.price }}</td>
                    <td><a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus mr-2"></i></a>
                        {{ order_item.quantity }}
                        <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i
                                class="fas fa-minus ml-2"></i>
                        </a>
                    </td>
                    <td>
                        {% if order_item.item.discount_price %}
                        ${{ order_item.get_total_discount_price }}
                        <span class="badge badge-primary"
                            style="background-image: linear-gradient(to right, rgb(200, 200, 34), rgb(133, 255, 133))">Saving:
                            ${{order_item.get_amount_saved }}
                        </span>
                        {% else %}
                        ${{ order_item.get_total_item_price}}
                        {% endif %}
                        <a style="color: red;" href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                            <i class="fas fa-trash float-right"></i>
                        </a>
                    </td>
                </tr>
                <!--<tr>
                    <td colspan="5">Your cart is empty.</td>
                </tr>
                <tr>
                    <td colspan="5"><a class="btn btn-primary" style="position: relative; left: 70%;" href="/">Continue
                            Shopping</a></td>
                </tr>-->
                {% endfor %}
                {% if object.get_total_price %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>Total:</strong></td>
                    <td>${{ object.get_total_price }}</td>
                </tr>
            </tbody>
        </table>
        <span>
            <a class="btn btn-primary" style="position: relative; left: 70%;" href="/">Continue Shopping</a>
            <!--<a class="btn btn-warning" style="position: relative; left: 70%;"
                href="/checkout/edit/{{object.id}}">Proceed to
                checkout</a>-->
            {% if object.shipping_address and object.billing_address %}
            <a class="btn btn-warning" style="position: relative; left: 70%;"
                href="{% url 'core:check-out-edit' object.id %}">Proceed to
                checkout</a>
            {% else %}
            <a class="btn btn-warning" style="position: relative; left: 70%;" href="/checkout">Proceed to
                checkout</a>
            {% endif %}
        </span>
        {% endif %}
    </div>
</main>

<!--Main layout-->
{% endblock %}
<!-- Copyright -->